body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.scacchiera {
  width: 80vw;
  height: 80vw;
  display: flex;
  flex-wrap: wrap;
}

.casella {
  width: 12.5%;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bianca {
  background-color: #f0d9b5;
}
.nera {
  background-color: #b58863;
}

.coordinate {
  position: absolute;
  bottom: 4%;
  left: 4%;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.riga {
  bottom: auto;
  top: 4%;
  left: 4%;
}

.testoBianco {
  color: #f0d9b5;
}
.testoNero {
  color: #b58863;
}

.pezzo {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pezzo img {
  width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  .scacchiera {
    width: 600px;
    height: 600px;
  }
}

@media (max-width: 600px) {
  .coordinate {
    font-size: 8px;
  }
}
